@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color palette */

    /* Backgrounds */
    --dark-slate: #1A1A2E;  /* Primary backgrounds */
    --charcoal: #2E2E3A;    /* Section or card backgrounds */
    --soft-gray: #3E4053;   /* Borders and lighter backgrounds */

    /* Text colors */
    --off-white: #EDEDED;   /* Primary text */
    --cool-gray: #C5C6C7;   /* Secondary text, captions, subheadings */

    /* IKEA colors */
    --ikea-blue: #0058AB;
    --ikea-yellow: #FBD914;
}


body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dark-slate, #1A1A2E) !important;
    color: var(--off-white, #EDEDED);
    margin: 0;
    padding: 0;
}

main {
    padding: 10px;
}

.logos-container {
    display: flex;           /* Use flexbox to align logos horizontally */
    justify-content: center;  /* Center logos horizontally */
    align-items: center;      /* Vertically align logos */
    gap: 20px;                /* Add some space between the logos */
    padding: 20px;            /* Optional padding around the container */
    background-color: var(--charcoal); /* Optional background color to make the logos stand out */
}

.logo {
    height: 25px;  /* Adjust the logo size (can be changed based on your needs) */
    width: auto;  /* Maintain the aspect ratio */
}